PORT=3000
MONGO_URI=mongodb+srv://dbuserbro:dbpassword@cluster0.knadd.mongodb.net/NotifierApp?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=681296268916-if0p82gq5a17cmh9cba8f8jh5j58cobp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=1lstadTN7UObkP37s7UkfFgn

test changes
